<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://d3js.org/d3.v4.min.js"></script>
			<script>
				$(function(){
					$("#includedContent").load("map.html");
				});
				</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/nationalparks">National Parks</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}
			<div id="includedContent"></div>

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:emilylindemer@gmail.com">email</a></li>
	        		<li><a href="https://github.com/EmilyLindemer">github</a></li>
				<li><a href="www.linkedin.com/in/emily-lindemer-87206667">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
